# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Backend build artifacts
backend/build/
backend/dist/*.zip

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Local envs/secrets
.env
.env.*
